:root {
    --blue-dark: #2e3853;
    --blue-mid: #40698f;
    --blue-light: #a4c9d3;
    --blue-white: #d1e1e1;

    --red-pure: #db2132;
    --red-light: #db4549;

    --teal-pure: #40a29d;
    --teal-light: #5ba29e;

    --accent-orange: #e96634;
    --accent-orange-light: #e9765b;
    --accent-yellow: #ffab40;
    --accent-yellow-light: #f3bb6e;

    --font-main: "Roboto Slab Regular";
    --font-2: "Ruda Regular";
  }

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 95%;
    font-family: var(--font-main);

}

@media only screen and (max-width:1000px){
    html{
        font-size: 90%;
    }
}

@media only screen and (max-width:800px){
    html{
        font-size: 83.5%;
    }
}

@media only screen and (max-width:600px){
    html{
        font-size: 77.5%;
    }
}

body{
    box-sizing: border-box;
}

/*Nav Bar*/

.nav{
    background-color: var(--blue-dark);
    color: white;

    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: flex-end;

    padding: 0.5rem 3rem;

    font-size: 1.1rem;
    font-family: var(--font-2);

    filter: drop-shadow(0px 3px 10px #00000070);
}

/* .nav__logo-container{

    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-size: 2rem;
    
    font-family: 'Montserrat', sans-serif;
}

.nav__logo-container__logo{
    display: flex;
    letter-spacing: 0.1rem;

} */

.nav-bar{

    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding: 1rem;
}


.nav-bar__container{
    display: flex;
    justify-content: flex-start;

    width: auto;

    margin-right: 3rem;

}

.nav-bar__active{
    border: 2px var(--blue-white) solid;
    border-radius: 2px;
}

.nav-bar__item{
    list-style: none;
    display: inline-flex;

    padding: 0.5rem 1rem;

}

.nav-bar__link{
    text-decoration: none;
    color: white;
}

.nav-bar__item:not(:last-child){
    margin-right: 2rem;
}

.nav-bar__button-container{
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

.nav__button{
    display: block;
    text-decoration: none;
    color: black;
    padding: 0.5rem 0.8rem;

    background-color: var(--blue-white);
    border-radius: 2px;

}

.nav__button:not(:last-child){
    margin-right: 2rem;
}

.nav__button-active{
    background-color: var(--red-pure);
    color: white;
    text-decoration: underline;
}

/* Nav Bar Media Queries */ 

@media only screen and (max-width:600px){
    .nav-bar{
        padding: 0.5rem;
    }

    .nav-bar__item:not(:last-child){
        margin-right: 0.5rem;
    }

    .nav__button:not(:last-child){
        margin-right: 1rem;
    }

    
}

@media only screen and (max-width:800px){
    .nav{
        display: flex;
        justify-content: center;

        padding: 0.5rem 1.5rem;
    }
}


/* End of Nav Bar*/

/* Home */

.home.container{
    width: 100vw;
    height: 600px;
    background-color: var(--blue-mid);
}

#bubbles{
    height: 800px;
    width: auto;
    float: right;

    opacity: 0.5;
}

#logo{
    padding-left: 90px;
    padding-top: 40px;

    position: absolute;

    width: 500px;
    height: auto;

    filter: drop-shadow(0px 3px 10px #00000070);

}


.quotes{
    font-family: var(--font-main);
}

#mainquote.quotes{
    font-size: 36px;
    width: 600px;
    color: white;

    position: absolute;
    right: 15%; 
    top: 200px;
}

.name{
    font-family: var(--font-2);
}

#krabs{
    font-size: 30px;
    color: white;

    position: absolute;
    right: 20%;
    top: 60%;
}



/* Log In*/

.logging{
    width: 100%;
    height: 85vh;

    background-image: linear-gradient(115deg, var(--light-blue) 0%, var(--light-blue) 50%, var(--medium-dark-blue) 50%);

    position: relative;
}

.hat-logo{
    width: 325px;
    position: absolute;

    right: 5vw;
    top: 4rem;
}

.logging__sign-box{
    position: absolute;
    width: 30rem;
    height: auto;


    top: 5rem;
    left: 6vw;

    
    font-family: var(--font-main);
    font-size: 2.5rem;
    font-weight: 300;
}

.logging__header{
    display: block;
    margin-bottom: 4rem;
}


.logging__button-box{
    font-family: 'Ruda', sans-serif;
    font-size: 1.5rem;
}

.logging__button{
    text-decoration: none;
    display:block;
    color: black;
    width: 200px;
    border-radius: 2px;
    background-color: var(--accent-yellow-light);
    text-align: center;

    padding-top: 10px;
    padding-bottom: 10px;
}

.logging__button:not(:last-child){
    margin-bottom: 1.25rem;
}

@media only screen and (max-width:990px){
   

    
}


/* End of Logging In*/


