:root {
    --dark-blue: #2e3853; 
    --medium-blue: #a4c9d3;
    --light-blue: #d1e1e1;
  }

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 95%;
    font-family: 'Karla', sans-serif;

}

@media only screen and (max-width:1000px){
    html{
        font-size: 90%;
    }
}

body{
    box-sizing: border-box;
}

/**/

.nav{
    background-color: var(--dark-blue);
    color: white;

    width: 100vw;
    height: auto;
    display: flex;
    justify-content: flex-end;

    padding: 1rem 3rem;

    font-size: 1.1rem;
}

/* .nav__logo-container{

    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-size: 2rem;
    
    font-family: 'Montserrat', sans-serif;
}

.nav__logo-container__logo{
    display: flex;
    letter-spacing: 0.1rem;

} */

.nav-bar{

    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding: 1.2rem;
}


.nav-bar__container{
    display: flex;
    justify-content: flex-start;

    width: auto;

    margin-right: 3rem;

}

.nav-bar__item{
    list-style: none;
    display: inline-flex;

}

.nav-bar__link{
    text-decoration: none;
    color: white;
}

.nav-bar__item:not(:last-child){
    margin-right: 2rem;
}

.nav-bar__button-container{
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

.nav__button{
    display: block;
    text-decoration: none;
    color: black;
    padding: 0.5rem 0.8rem;

    background-color: var(--medium-blue);

}

.nav__button:not(:last-child){
    margin-right: 2rem;
}