<section class="popup" id="popup-login">
    <div class="popup__content login-bg">
        <a href="#" class="popup__close close-login">Back</a>
        <div class="popup__login-logo">
            <img src="resources/loginSpatula.png" alt="Spatula" srcset="" class="popup__login-image">
        </div>
        <form class="popup__login-form">
            <input class="popup__login-field" type="text" name="Username" id="username" placeholder="Username">
            <input class="popup__login-field" type="password" name="Password" id="password" placeholder="Password">
            <a class="popup__submit-button">Log In</a>
        </form>
    </div>
</section>
<script src="../js/login.js"></script>